/* CSS Reset */
html,body,div,span,header {
  margin:0;
  padding:0;
  border:0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color:rgba(253, 235, 253,.3);
}
h2 {
}

/* flex parent for whole page */
#flexParent{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
}

/* flex child */
header {
  flex:1;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  min-height: 60px;
  background-color:rgb(205, 57, 241);
  background: -webkit-linear-gradient(rgb(18, 1, 26), rgb(96, 33, 138));
  background: -moz-linear-gradient(rgb(18, 1, 26), rgb(96, 33, 138));
  background: linear-gradient(rgb(18, 1, 26), rgb(96, 33, 138));
}

/* flex parent */
#container {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left:10%;
  margin-right:10%;
  border: 20px rgb(94, 14, 94) transparent;
}

/* flex item */
.gameboardA {
  border:5px purple solid;
  background-color:white;
  flex:1;
  min-width:calc(33% - 20px);
  height: calc(25vh - 20px);
  font-size:5em;
}

#restartButton {
  width:30%;
  margin-top:20px;
  margin-left:35%;
  padding:20px;
  font-size:25px;
}